@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-transform: capitalize;

}
p{
    font-size: 14px;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #f7faff;
}
h3{
    font-size: 23px;
    font-weight: 500;
    color:#3781C2;
}

h4{
    font-size: 17px;
    font-weight: 450;
    color:#085758

}
.container{
    max-width:1240px;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    margin: 0 auto;
    padding: 15px 20px;

    display: grid;
    grid-template-rows: max-content  auto ;
    gap:20px;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-content: center; 

    width: 100%;
    height: 23px;

    grid-column: 1/ -1;
}
nav div ,nav a{
    align-items: center;
    display: flex;
    height:  115%;
}
nav img:first-child{
    width: 18px;
    margin-right: 15px;
}
nav .navkanan p{
    margin: 0 15px;
    font-style: italic;
    font-size: 0.7em;
    color: #085758;
    text-align: center;
    
}
nav .navkanan img{
    width: 24px;
    margin: 0 auto;
    cursor: pointer;
}

/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
main img{
    width: 200px;
    margin-right: 25px;
    margin-bottom: 50px;
}
main p{
    font-weight: 650;
    font-size: 30px;
    max-width: 300px;
    margin-bottom: 50px;
    color: #3781C2;

}

/* responsif */
@media screen and (max-width:620px){
    main{
        flex-direction: column;
        text-align: center;
    }

}
